@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(40, 44, 52);
}

.elm {
  color: rgb(163, 162, 171);
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: rebeccapurple;
  border-width: 0;
  border-radius: 5px;
  color: cornflowerblue;
  font-size: 16px;
  padding: 8px;
}
