@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(40, 44, 52);
  color: rgb(163, 162, 171);
}

.main {
  font-size: 36px;
}
